# *.*
# *
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.cpp
!.gitignore
!README.md
!*.drawio
build/
bin/*
!vsrc/*
!syn/*
result/*-500MHz/*
!result/*-500MHz/*synth_stat.txt
!result/*-500MHz/*.rpt
!result/*-500MHz/*.pwr
result/*-500MHz/*_instance.pwr